CLIMATE_RISK_DATABASE_URL=sqlite+aiosqlite:///./climate_risk.db
CLIMATE_RISK_LOG_LEVEL=INFO
CLIMATE_RISK_WORKER_POLL_INTERVAL_SECONDS=2
CLIMATE_RISK_WORKER_HEARTBEAT_SECONDS=30
CLIMATE_RISK_JOB_TIMEOUT_PROCESSAR_CORDEX_SECONDS=7200
CLIMATE_RISK_JOB_TIMEOUT_CALCULAR_PONTOS_SECONDS=1800
CLIMATE_RISK_IBGE_BASE_URL=https://servicodados.ibge.gov.br
CLIMATE_RISK_SHAPEFILE_UF_PATH=
CLIMATE_RISK_SHAPEFILE_MUN_PATH=
CLIMATE_RISK_SINCRONO_PONTOS_MAX=100
